body {
    background: #003366;
    
    color:rgb(255, 225, 168);
    height: 100vh;
    margin: 0;
    font-family: Consolas, monaco, monospace;


    line-height: 1.5; }
    body#bg-img {
        background: url(../img/background.jpg);
        /*background-attachment: fixed;*/
        background-size: cover;
        /* Full height */
        height: 100%; 
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }
      


.header {
    position: fixed;
    width: 100%;
    top: 0;
    color:rgb(255, 225, 168);
    text-align: center;
    min-height: 50px;
    display: grid;
    grid-template-areas: "intro-nav experience-nav teaching-nav projects-nav music-nav contact-nav";
    background: #001a33;
    border: #001a33 2px solid;
  }

.nav:hover{
    opacity: 0.6;
    border-left: rgb(255, 225, 168) 3px solid;
    border-right: rgb(255, 225, 168) 3px solid;
    border-bottom:  rgb(255, 225, 168) 2px solid;

    transition: all 0.05s ease-in; 

}
.nav:hover > .text-secondary{
    color:rgb(255, 225, 168)
}



.header a {
float: left;
font-size: 1em;
color:rgb(255, 225, 168);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.greeting{
    padding-top:15vh;
    text-align: center;
    font-size: 3em;
    color:rgb(255, 225, 168);
}
.greeting h2{
    margin-bottom: 2rem;
    padding: 0rem 1rem;
    background: rgba(0, 56, 112, 0.5);
}



.introduction{
    padding-left:100px;
    padding-top:100px;
    display: grid;
    grid-template-areas: "intro-block";
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);  
    font-size: 1.25em;}

.intro-block {
    padding-left:50px;
    background: #00264d;
    padding: 1em;
    border-bottom: orange 5px solid; }
.text-secondary {
    color: orange; }
.text-primary {
    color: #00264d; }

.experiences{
    margin-top:30vh;
}
.exp-title{
    padding-left:10px;
    font-size:2em;
    color:orange;
    margin-bottom: 2rem;
    padding: 0rem 1rem;
    background: rgba(0, 56, 112, 0.5);
}
.experiences .item, .projects  {
    margin-top:20px;
    display: grid;
    padding: 40px;
    grid-gap: 30px;
    grid-template-areas: "img desc desc";
    margin-block-end: 2rem;
    background: #00264d;
    border-bottom: orange 5px solid;
    border-top: orange 5px solid; }
    

.experiences .item .img {
    max-width: 80%; 
}

.pad{
    padding:10px;
}

.img, .experiences .item .img {
grid-area: img;
margin: auto;
border-radius: 5%;
border: 3px #99ccff solid; }
.img:hover, .experiences .pcitem .img:hover {
    opacity: 0.5;
    border-color: orange;
    transition: all 0.5s ease-out; }

.desc {
grid-area: desc;
font-size: 1.25rem; 
}

.bullet-less{
    list-style-type: none;
    padding-left:0;
}
.teaching{
    padding: 40px;
    display:grid;
    grid-gap: 1.5em;
    grid-template-areas: "tdesc tdesc tdesc""taing amacss tyeducational";
    grid-template-columns: repeat(3, 1fr);
    margin-top:20px;
    padding-bottom: 40px;
    padding-left:40px;
    margin-block-end: 2rem;
    background: #00264d;
    border-bottom: orange 5px solid;
    border-top: orange 5px solid;
    font-size:1.25rem;
}

.teaching .tdesc{
    grid-area:tdesc;
}
.taing{
    grid-area:taing;

}
.amacss{
    grid-area:amacss;
}
.tyeducational{
    grid-area:tyeducational;
}

.taing .img, .amacss .img, .tyeducational .img{
    max-height: 35vh;
    min-height: 35vh;
    display: block;
    cursor:pointer;    
}
.project_item{
    text-align: center;
}

.contact{
    margin-top:20px;
    display: grid;
    padding: 20px;
    padding-bottom: 40px;
    grid-gap: 30px;
    grid-template-areas: "img desc desc";
    margin-block-end: 2rem;
    background: #00264d;
    border-bottom: orange 5px solid;
    border-top: orange 5px solid; }


#main-footer {
    margin-top: 100px;
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 0.5em;
    background: #001a33;
    color:rgb(255, 225, 168);
    height: 300px;
    
}

html {
    scroll-behavior: smooth;
  }
footer .icons a{
    color:orange;
}

@media screen and (max-width: 1400px){
    .introduction{
        grid-template-areas: "intro-block";
        grid-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);  
    }

}

@media screen and (max-width: 1280px){
    .teaching{
        grid-template-areas: "tdesc" "taing" "amacss" "tyeducational";
        grid-template-columns: 1fr;

    }
    .experiences .item, .projects  {

        grid-template-areas: "img" "desc";
    }
    .item {
        text-align: center;    
    }
}
 @media screen and (max-width: 900px) {
    .header a {

        font-size: 0.75em;

    }
    body#bg-img {
        background: url(../img/backgroundmobile.jpg);
        background-size: cover;
        /* Full height */
        height: 100%; 
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;

    }
     .header{
        grid-template-areas: "intro-nav experience-nav teaching-nav" "projects-nav music-nav contact-nav";
     }
     .nav{
        border-bottom:none;
     }
     .nav:hover{
        border-top: rgb(255, 225, 168) 3px solid;
    }
    .teaching{
        grid-template-areas: "tdesc" "taing" "amacss" "tyeducational";
        grid-template-columns: 1fr;

    }
    .experiences .item, .projects  {

        grid-template-areas: "img" "desc";
    }
    .item {
        text-align: center;    
    }
    .introduction{
        padding-left:0px;
        padding-top:20em;
        display: grid;
        grid-template-areas: "intro-block ";

        grid-template-columns: 1fr;  

    }
    .project_item img{
        max-width: 42vh;
        height: auto;
    }
 }